/vendor/
/node_modules/
.env
.env.*
/storage/*.key
/storage/framework/*
/public/storage
Homestead.json
Homestead.yaml
/.vagrant
/.phpunit.result.cache
.DS_Store
Thumbs.db
*.log
*.sqlite
/.idea
/.vscode
composer.lock
package-lock.json
/.env.backup
/.phpunit.result.cache
*.sql
*.gz
*.zip
